%h1 Public::Welcome#index
%p Find me in app/views/public/welcome/index.html.erb

= icon 'exclamation-sign', lib: 'bs'

= icon :linux, border: true, rotate: 90

= fah_stacked_icon(:camera, :ban, classes: { container: 'fa-lg', stacked: 'text-danger'} )